.quick-view {
    flex: 1;
    width: 100%;
    background-color: #f5f5f5;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid #ddd;
    margin: auto;
    font-family: monospace;
    font-size: large;
}

.scrollable-div {
    overflow-y: scroll;
    max-height: 470px;
}

#quick-view-buttons {
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#profile-picture {
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
}