#container {
    text-align: center;
    margin: auto auto;
    width: 100%;
    height: 100%;
}

#slider{
    align-self: center;
    position: relative;
    width: 200px;
    margin: auto auto; !important;
}

#wrapper {
    height: 90%;
    width: 100%;

}

body{
    height: 100%;
}

.rButton{
    height: 20px;
    width: 40px;
    border: 1px solid black;
    margin: 5px;
}

.slider{
    vertical-align: top;
}

#leftInput{
    vertical-align: top; !important;
    margin: 5px;
}

#rightTable{
    vertical-align: top;
}

#centerGraphic{
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 10px;

}

.row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.column {
    display: table-cell;
    background-color: lavender; /*Optional*/
}

.error{
    color: red;
    font: 14px serif;
}

table, th, td {
    border: 1px solid;
    width: 100%;
}

#navi{
    height: 20px;
    width: auto;
    border: 1px solid black;
    margin: 5px;
}

.clearButton{
    height: 20px;
    width: auto;
    border: 1px solid black;
    margin: 5px;
}

#luckyButton{
    height: 20px;
    width: auto;
    border: 1px solid black;
    margin: 5px;
}

#controls{
    align-items: center;
}