.action-button {
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 40px;
    height: 30px;
    padding: 3px;
}


.action-button:hover {
    background: greenyellow;
}

.action-button:active {
    border: 2px solid black;
    background: greenyellow;
}

.action-button-red {
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 40px;
    height: 30px;
    padding: 3px;
}

.action-button-red:hover {
    background: red;
}

.action-button-red:active {
    border: 2px solid black;
    background: red;
}
