.worker-table {
    border-radius: 8px;
    border: 1px solid #ddd;
    color: black;
    align-self: center;
    text-align: center;
    margin: 5px;
    padding: 1px;
    width: 100%;
    background-color: #f5f5f5;
    font-family: monospace;
    font-size: large;
}

tr, th, td {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    padding: 1px;
}

th:hover {
    background: #00b1fd;
    color: white;
}

tr:hover td {
    background: #00b1fd;
    color: white;
}

.pagination-controls {
    text-align: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex: 4;
    gap: 10px;
}

.pagination-controls button {
    min-width: 60px;
    margin: 5px;
    padding: 3px;
    border-radius: 8px;
    border: 2px solid #dddddd;
}

.pagination-controls button:hover {
    background: #00b1fd;
    color: white;
}

.pagination-controls button:active {
    border: 2px solid white;
}
